<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.spider.dao.DouBanPageMapper">

    <resultMap id="BaseResultMap" type="com.java.spider.entity.Page">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="videoId" jdbcType="VARCHAR" property="videoId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="no" jdbcType="INTEGER" property="no" />
        <result column="score" jdbcType="DOUBLE" property="score" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="director" jdbcType="VARCHAR" property="director" />
        <result column="scriptwriter" jdbcType="VARCHAR" property="scriptwriter" />
        <result column="protagonists" jdbcType="VARCHAR" property="protagonists" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="language" jdbcType="VARCHAR" property="language" />
        <result column="releaseDate" jdbcType="VARCHAR" property="releaseDate" />
        <result column="year" jdbcType="INTEGER" property="year" />
        <result column="mins" jdbcType="INTEGER" property="mins" />
        <result column="alternateName" jdbcType="VARCHAR" property="alternateName" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    </resultMap>

    <sql id="whereSqlDebris">
        <if test="map.id!= null "> and id = #{map.id} </if>
        <if test="map.url!= null "> and url = #{map.url} </if>
        <if test="map.videoId!= null "> and videoId = #{map.videoId} </if>
        <if test="map.name!= null "> and name = #{map.name} </if>
        <if test="map.no!= null "> and no = #{map.no} </if>
        <if test="map.score!= null "> and score = #{map.score} </if>
        <if test="map.type!= null "> and type = #{map.type} </if>
        <if test="map.director!= null "> and director = #{map.director} </if>
        <if test="map.country!= null "> and country = #{map.country} </if>
        <if test="map.language!= null "> and language = #{map.language} </if>
    </sql>

    <select id="getById" parameterType="java.lang.Integer" resultType="com.java.spider.entity.Page">
		select * from spider_doubanmovietop250 where id = #{id}
	</select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from spider_doubanmovietop250
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.java.spider.entity.Page">
        insert into spider_doubanmovietop250 (url, videoId,
            `name`, `no`, score, `type1`,`type2`,`type3`,
            `number`, director, scriptwriter,
            protagonists, country,
            `language`, releaseDate, `year`, mins,
            alternateName, introduction)
        values ( #{url}, #{videoId},
            #{name}, #{no}, #{score}, #{type1},#{type2},#{type3},
            #{number}, #{director}, #{scriptwriter},
            #{protagonists}, #{country},
            #{language}, #{releaseDate}, #{year}, #{mins},
            #{alternateName}, #{introduction})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.java.spider.entity.Page">
        update spider_doubanmovietop250
        set
        <if test="url!= null ">url = #{url }, </if>
        <if test="videoId!= null ">videoId = #{videoId }, </if>
        <if test="name!= null ">name = #{name }, </if>
            `no` = #{no},
             score = #{score},
            `type1` = #{type1},
            `type2` = #{type2},
            `type3` = #{type3},
             `number` = #{number},
             director = #{director},
             scriptwriter = #{scriptwriter},
             protagonists = #{protagonists},
             country = #{country},
             `language` = #{language},
             releaseDate = #{releaseDate},
             `year` = #{year},
             mins = #{mins},
             alternateName = #{alternateName},
             introduction = #{introduction}
        where id = #{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="Map" resultType="com.java.spider.entity.Page">
        select id, url, videoId, `name`, `no`, score, `type1`,type2`,type3`, `number`, director, scriptwriter,
            protagonists, country, `language`, releaseDate, `year`, mins, alternateName, introduction
            from spider_doubanmovietop250
        <where>
            <include refid="whereSqlDebris" />
        </where>
    </select>

    <select id="selectByVedioId" parameterType="java.lang.String" resultType="com.java.spider.entity.Page">
        select *
        from spider_doubanmovietop250
        where videoId = #{videoId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from spider_doubanmovietop250
    </select>

    <resultMap id="byParse" type="java.util.Map">
        <result column="type1" property="type1" jdbcType="VARCHAR" />
        <result column="type2" property="type2" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="language" property="language" jdbcType="VARCHAR" />
        <result column="year" property="year" jdbcType="INTEGER" />
        <result column="count(type1)" property="countType1" jdbcType="VARCHAR"/>
        <result column="count(type2)" property="countType2" jdbcType="VARCHAR"/>
        <result column="count(country)" property="countCountry" jdbcType="VARCHAR"/>
        <result column="count(language)" property="countLanguage" jdbcType="VARCHAR"/>
        <result column="count(year)" property="countYear" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="countByParse" parameterType="com.java.spider.entity.Page" resultMap="byParse">
        select
        <if test='type1 != null'> type1,count(type1) </if>
        <if test='type2 != null'> type2,count(type2) </if>
        <if test='country != null'> country,count(country) </if>
        <if test='language != null'> `language`,count(language) </if>
        <if test='year != null'> `year`,count(year) </if>
        from spider_doubanmovietop250
        group by
        <if test='type1 != null'> type1 </if>
        <if test='type2 != null'> type2 </if>
        <if test='country != null'> country </if>
        <if test='language != null'> `language` </if>
        <if test='year != null'> `year` </if>
        ORDER BY
        <if test='type1 != null'> count(type1) </if>
        <if test='type2 != null'> count(type2) </if>
        <if test='country != null'> count(country) </if>
        <if test='language != null'> count(`language`) </if>
        <if test='year != null'> `year` </if>
    </select>


    <select id="countByType" parameterType="com.java.spider.entity.Page" resultMap="byParse">
        select
        <if test='type1 != null'> s1.type1, count(s1.type1) </if>
        <if test='type2 != null'> s2.type2, count(s2.type2) </if>
        from spider_doubanmovietop250 as s1
        left JOIN spider_doubanmovietop250 as s2
        ON s1.id = s2.id
        group by
        <if test='type1 != null'> type1 </if>
        <if test='type2 != null'> type2 </if>
        <if test='country != null'> country </if>
        <if test='language != null'> `language` </if>
        <if test='year != null'> `year` </if>
        ORDER BY
        <if test='type1 != null'> s1.type1 </if>
    </select>

</mapper>